<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header mb-1">
          <h5><i class="fa fa-list-alt" /> Form Headline News</h5>
        </div>
        <div class="card-block p-b-0">
          <form @submit.prevent="submitForm">
            <div class="row">
              <Alert v-if="errorMessage !== null" :message="errorMessage" :classes="classAlert" />
              <div class="col-lg-12 mb-2">
                <img :src="image" v-if="image !== null" width="100%" alt="Image News">
                <button class="btn btn-outline-danger btn-sm w-100 mb-2" v-if="image !== null" @click="resetImage"><i class="fa fa-trash" /> Change Image</button>
                <dropzone id="foo" v-if="image === null" ref="el" v-on:vdropzone-success="sendingEvent" :options="options" :destroyDropzone="true" :duplicateCheck="true" :useCustomSlot="true">
                  <div class="dropzone-custom-content">
                    <h3 class="dropzone-custom-title text-success"><i class="fa fa-file-pdf"/> Drag and drop document cuti kebijakan!</h3>
                    <div class="subtitle">...or click to select a file from your computer</div>
                  </div>
                </dropzone>
              </div>
              <div class="col-lg-8">
                <client-only placeholder="loading..." style="height: 500px">
                  <ckeditor-nuxt v-model="contentHolder" :config="editorConfig"  />
                </client-only>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-block p-b-0">
                    <div class="form-group">
                      <label class="sub-title font-weight-bold text-uppercase">Title</label>
                      <input v-model="title" type="text" class="form-control" placeholder="Title">
                    </div>
                    <div class="form-group">
                      <label class="sub-title font-weight-bold text-uppercase">Category</label>
                      <select v-model="categoryId" class="form-control">
                        <option  v-for="(category, iCategory) in categories" :key="iCategory" :value="category.id">{{category.category_name}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label class="sub-title font-weight-bold text-uppercase">Tags</label>
                      <client-only>
                        <vue-tags-input v-model="tag" :tags="tags" :autocomplete-items="autocompleteItems"
                                        :add-only-from-autocomplete="true"
                                        @tags-changed="updateTags" />
                      </client-only>
                    </div>
                    <div class="form-group">
                      <label class="sub-title font-weight-bold text-uppercase">Status</label>
                      <select v-model="status" class="form-control">
                        <option value="draft">Draft</option>
                        <option value="publish">Publish</option>
                      </select>
                    </div>
                    <button class="btn btn-success btn-sm mb-3 w-100"><i class="fa fa-save"/> Save Changes</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Dropzone from 'nuxt-dropzone'
import 'nuxt-dropzone/dropzone.css'
export default {
  middleware: 'auth',
  name: "form",
  components: {
    'ckeditor-nuxt': () => { if (process.client) { return import('@blowstack/ckeditor-nuxt') } },
    Dropzone,
    VueTagsInput : () => {if (process.client) { return import('@johmun/vue-tags-input') }},
  },
  data() {
    return {
      editorConfig: {
        simpleUpload: {
          uploadUrl: 'path_to_image_controller',
          headers: {
            'Authorization': 'optional_token'
          }
        },
        removePlugins: ['Title'],
      },
      categoryId: null,
      contentHolder: "",
      options: {
        url: 'http://127.0.0.1:8000/api/v1/news/attachment',
        thumbnailWidth: 200,
        addRemoveLinks: true,
      },
      image: null,
      tagSelected: [],
      tag: '',
      tags: [],
      title: '',
      status: "draft",
      autocompleteItems: [],
      categories: [],
      errorMessage: null,
      classAlert: ""
    }
  },
  watch: {
    'tag': 'initTagItems'
  },
  methods: {
    sendingEvent (file, resp) {
      this.image = resp.data.file_path
    },

    resetImage() {
      this.image = null
    },

    getAllCategory: async function() {
      try {
        let req = await this.$api.get('category/options')
        console.log(req.data.data)
        this.categories = req.data.data
      } catch (e) {

      }
    },

    getAllTags: async function() {
      try {
        let req = await this.$api.get('tags')
        this.tags = req.data.data.data
      } catch (e) {

      }
    },

    initTagItems() {
      if (this.tag.length < 2) return;
      const url = `tags?name=
        ${this.tag}&entity=allArtist&attribute=allArtistTerm&limit=6`;

      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.$api.get(url).then(response => {
          this.autocompleteItems = response.data.data.data.map(a => {
            return { text: a.tags_name, id: a.id};
          });
        }).catch(() => console.warn('Oh. Something went wrong'));
      }, 600);
    },

    updateTags(newTags) {
      this.autocompleteItems = [];
      let selectedTags = []
      newTags.forEach(item => selectedTags.push(item.id))
      if (newTags.length === 0) selectedTags = []
      this.tagSelected = selectedTags

      this.tags = newTags;
    },

    submitForm: async function() {
      let body = {
        "title": this.title,
        "content": this.contentHolder,
        "category_id": parseInt(this.categoryId),
        "image": this.image,
        "tags": this.tagSelected.join(","),
        "status": this.status
      }

      try {
        if (this.$queryUrl().id === null) {
          await this.$api.post('news', body)
        } else {
          await this.$api.put('news/' + this.$queryUrl().id, body)
        }
        await this.resetForm()
      } catch (e) {
        this.errorMessage = e.response.data.message
        this.classAlert = "alert-danger"
      }
    },
    resetForm: async function() {
      this.title = ""
      this.contentHolder = ""
      this.categoryId = null
      this.resetImage()
      this.tagSelected = []
      this.status = "draft"
    },
    getNews: async function(id) {
      let req = await this.$api.get('news/' + id)
      let data = req.data.data
      this.title = data.title
      this.categoryId = data.category_id
      this.contentHolder = data.content
      this.image = data.image
      this.tags = data.tags.map(item => {
        return {
          text: item.tag_name,
          id: item.tag_id
        }
      })

      this.tagSelected = data.tags.map(item => item.tag_id)
      this.status = data.status
    },
    getUrlQuery: function () {
      return new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
      });
    }
  },
  async mounted() {
    await this.getAllCategory()
    if (this.$queryUrl().action === 'edit') {
      await this.getNews(this.$queryUrl().id)
    }
  }
}
</script>

<style scoped>

</style>
