<template>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5><i class="fas fa-search" /> Filter Headline News</h5>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12 col-xl-4 m-b-30">
              <h4 class="sub-title"><i class="fa fa-calendar"/> Date Created</h4>
              <div class="form-inline">
                <DateRangePicker
                  circle
                  show-clear-button
                  :range="true"
                  v-model="selectedDate"
                  lang="id"
                  input-class="form-control"/>
              </div>
            </div>
            <div class="col-sm-12 col-xl-4 m-b-30">
              <h4 class="sub-title"><i class="fa fa-user"/> Creator</h4>
              <div class="form-group">
                <input type="text" class="form-control input-rounded" v-model="userCreator" @keyup="onSearchCreator(userCreator)" placeholder="Select Creator">
                <ul class="searchUl list-group" style="width: 90%">
                  <li v-for="(item, iItem) in dataCreator" :key="iItem" @click="onSelectCreator(item)">{{item.title}}</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-xl-4 m-b-30">
              <h4 class="sub-title"><i class="fa fa-tags"/> Tags</h4>
              <div class="form-group">
                <client-only>
                  <vue-tags-input v-model="tag" :tags="tags" :autocomplete-items="autocompleteItems"
                                  :add-only-from-autocomplete="true"
                                  @tags-changed="updateTags" />
                </client-only>
              </div>
            </div>
            <div class="col-sm-12 col-xl-4 m-b-30">
              <h4 class="sub-title"><i class="fa fa-list"/> Status</h4>
              <div class="form-group">
                <select class="form-control">
                  <option value="" disabled>Select Status</option>
                  <option value="0">Draft</option>
                  <option value="1">Publish</option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-xl-4 m-b-30">
              <h4 class="sub-title"><i class="fa fa-list"/> Title News</h4>
              <div class="form-group">
                <input class="form-control input-rounded" type="text" placeholder="Search Title">
              </div>
            </div>
            <div class="col-sm-12 col-xl-4 m-b-30">
              <button class="btn btn-sm btn-round btn-success mt-5"><i class="fa fa-search"/> Search </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5><i class="fa fa-list"/> Headline News  </h5>
          <div class="card-header-right">
            <NuxtLink :to="{name: 'news-headline-form', query: {action: 'create'}}" class="btn btn-round btn-sm btn-success"><i class="feather icon-plus text-white"/> Create Headline</NuxtLink>
          </div>
        </div>
        <div class="card-block p-b-0">
          <div class="table-responsive pre-scrollable">
            <table class="table table-hover m-b-0 tableFixHead">
              <thead class="bg-dark text-white text-center">
                <tr>
                  <th>Headline</th>
                  <th>Reader</th>
                  <th>Date</th>
                  <th>Tags</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
              <tr v-for="(news, iNews) in sampleDataHeadlineNews.data" :key="iNews">
                <td>
                  <div class="d-inline-block align-middle">
                    <img :src="news.image" alt="user image" class="img-70 align-top m-r-15">
                    <div class="d-inline-block">
                      <h6>{{$substring(news.title, 20)}}</h6>
                      <p class="text-muted m-b-0">{{news.updated_by}}</p> <span class="badge" :class="colorBadge[news.status]">{{news.status.toUpperCase()}}</span>
                    </div>
                  </div>
                </td>
                <td class="text-center"><i class="fa fa-user text-primary"/> {{news.total_views}}</td>
                <td class="text-muted text-center"> <i class="fa fa-clock text-c-lite-green"/> {{news.last_update}}</td>
                <td>
                  <label class="badge" v-for="(tag, iTag) in news.tags" :key="iTag" :class="colorTags[randomNumber(0,4)]">{{tag.tag_name}}</label>
                </td>
                <td>
                  <NuxtLink class="btn btn-outline-primary btn-sm" :to="{name: 'news-headline-form', query: {action: 'edit', id: news.id}}"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></NuxtLink>
                  <button class="btn btn-sm btn-outline-danger" @click="deleteConfirmation(iNews)"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></button>
                </td>
              </tr>
              <tr v-if="sampleDataHeadlineNews.next_total_data > 0">
                <td colspan="5" class="text-center">
                  <button class="btn btn-round btn-outline-primary"><i class="fa fa-arrow-circle-down" /> +{{sampleDataHeadlineNews.next_total_data > 10 ? 10:sampleDataHeadlineNews.next_total_data}}</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalConfirmationLabel">Delete Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you delete <span class="font-weight-bold text-danger text-uppercase">{{newsSelected.title}}</span> data?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger btn-sm" @click="deleteNews">Yes, Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'vue-datepicker-ui/lib/vuedatepickerui.css';
import VueDatepickerUi from 'vue-datepicker-ui';

export default {
  middleware: 'auth',
  name: "headline",
  components: {
    DateRangePicker: VueDatepickerUi,
    VueTagsInput : () => {if (process.client) { return import('@johmun/vue-tags-input') }},
  },
  data() {
    return {
      selectedDate: [
        new Date(),
        new Date(new Date().getTime() + 30 * 24 * 60 * 60 * 1000)
      ],
      onTypeSearchCreator: false,
      userCreator: "",
      dataCreator: [],
      sampleData: [
        {
          title: "Muhammad Suryono",
          value: 12
        },
        {
          title: "Restianan",
          value: 3
        }
      ],
      sampleDataHeadlineNews: [],
      colorTags: ["badge-inverse-primary","badge-inverse-danger","badge-inverse-success","badge-inverse-warning","badge-inverse-secondary"],
      colorBadge: {
        "draft": "badge-danger",
        "publish": "badge-success"
      },
      tags: [],
      tag: '',
      autocompleteItems: [],
      debounce: null,
      newsSelected: {}
    }
  },
  watch: {
    'tag': 'initTagItems'
  },
  methods: {
    onSearchCreator: async function(val) {
      if (val === "") this.dataCreator = []
      else this.dataCreator = this.sampleData.filter(item => item.title.toLowerCase().includes(val.toLowerCase()))
    },
    onSelectCreator: async function(val) {
      this.dataCreator = []
      this.userCreator = val.title
      console.log(val)
    },
    randomNumber: function (min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    },
    updateTags(newTags) {
      this.autocompleteItems = [];
      this.tags = newTags;
    },
    initTagItems() {
      if (this.tag.length < 2) return;
      const url = `tags?name=${this.tag}&entity=allArtist&attribute=allArtistTerm&limit=6`;

      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        this.$api.get(url).then(response => {
          this.autocompleteItems = response.data.data.data.map(a => {
            return { text: a.tags_name};
          });
        }).catch(() => console.warn('Oh. Something went wrong'));
      }, 600);
    },
    getAllNews: async function(lastId = 0) {
      let query = lastId !== 0 ? '?last_id=' + lastId : '';
      try {
        let req = await this.$api.get('news' + query)
        this.sampleDataHeadlineNews = req.data.data
      } catch (e) {

      }
    },
    deleteNews: async function() {
      try {
        await this.$api.delete('news/' + this.newsSelected.id)
        await this.getAllNews()
        $('#modalConfirmation').modal('hide')
      } catch (e) {
      }
    },
    deleteConfirmation: async function(index) {
      this.newsSelected = this.sampleDataHeadlineNews.data[index]

      $('#modalConfirmation').modal('show')
    },
  },
  async mounted() {
    await this.getAllNews()
  }
}
</script>

<style scoped>
  .searchUl{
    list-style: none;
    padding: 0px;
    width: 250px;
    position: absolute;
    margin: 0;
    z-index: 9999;
  }

  .searchUl li{
    background: white;
    padding: 4px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    z-index: 999;
    border-radius: 5px
  }

  .searchUl li:nth-child(even){
    background: white;
  }

  .searchUl li:hover{
    background: lightblue;
    cursor: pointer;
  }

  .input-rounded {
    border-radius: 5px
  }

  .center-object {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .pre-scrollable {
    max-height: 500px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .pre-scrollable::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .pre-scrollable {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #343a40 !important;
  }
</style>
