<template>
  <div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h5><i class="fas fa-edit" /> Form Category</h5>
          </div>
          <div class="card-block">
            <Alert v-if="errorMessage !== null" :message="errorMessage" :classes="classAlert" />
            <form @submit.prevent="submitFormCategory">
              <div class="form-group">
                <label>Category Name</label>
                <input type="text" class="form-control" v-model="form.category_name" placeholder="ex: Sport" required>
              </div>
              <button class="btn btn-success btn-sm mb-1" style="width: 100%" type="submit"><i class="fas fa-save"/> Save</button>
              <button class="btn btn-outline-dark btn-sm" @click="resetForm" type="button" style="width: 100%"><i class="fas fa-arrow-alt-circle-down"/> Reset Form</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <h5><i class="fas fa-list" /> Data Category</h5>
          </div>
          <div class="card-block">
            <table class="table table-striped table-hover table-responsive-lg">
              <thead class="thead-dark">
                <th>No</th>
                <th>Category Name</th>
                <th>Last Update</th>
                <th width="20%">Action</th>
              </thead>
              <tbody>
                <tr v-for="(category, iCategory) in categories" :key="iCategory">
                  <td>{{iCategory + 1}}</td>
                  <td>{{category.category_name}}</td>
                  <td>{{category.last_update}}</td>
                  <td>
                    <button class="btn btn-sm btn-outline-primary" @click="categoryEdit(iCategory)"><i class="fas fa-edit"/> Edit </button>
                    <button class="btn btn-sm btn-outline-danger" @click="deleteConfirmation(iCategory)"><i class="fas fa-trash"/> Delete </button>
                  </td>
                </tr>
                <tr v-if="categories.length === 0"><td colspan="4" class="text-center"><i class="fa fa-tags"/> No Data </td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalConfirmationLabel">Delete Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you delete <span class="font-weight-bold text-danger text-uppercase">{{form.category_name}}</span> data?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger btn-sm" @click="deleteCategory">Yes, Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from "@/components/Alert";
export default {
  middleware: 'auth',
  name: "category",
  components: {
    Alert
  },
  data() {
    return {
      form: {
        category_name: "",
        id: null
      },
      categories: [],

      errorMessage: null,
      classAlert: ""
    }
  },
  methods: {
    submitFormCategory: async function() {
      try {
        if (this.form.id === null) {
          await this.$api.post('category', {name: this.form.category_name})
        } else {
          await this.$api.put('category/' + this.form.id, {name: this.form.category_name})
        }

        await this.resetForm()
        await this.getAllCategory()
      } catch (e) {
        this.errorMessage = e.response.data.message
        this.classAlert = "alert-danger"
      }
    },
    categoryEdit: async function(index) {
      let data = this.categories[index]
      this.form.category_name = data.category_name
      this.form.id = data.id
    },
    resetForm: async function() {
      this.form = {
        category_name: "",
        id: null
      }

      this.errorMessage = null
      this.classAlert = ""
    },
    deleteConfirmation: async function(index) {
      let data = this.categories[index]
      this.form.category_name = data.category_name
      this.form.id = data.id

      $('#modalConfirmation').modal('show')
    },

    getAllCategory: async function() {
      try {
        let req = await this.$api.get('category')
        this.categories = req.data.data.data
      } catch (e) {

      }
    },

    deleteCategory: async function() {
      try {
        await this.$api.delete('category/' + this.form.id)
        await this.resetForm()
        await this.getAllCategory()
        $('#modalConfirmation').modal('hide')
      } catch (e) {
        this.errorMessage = e.response.data.message
        this.classAlert = "alert-danger"
      }
    }
  },
  async mounted() {
    await this.getAllCategory()
  }
}
</script>

<style scoped>

</style>
