<template>
  <div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h5><i class="fas fa-edit" /> Form Upload PDF Newspaper</h5>
          </div>
          <div class="card-block">
            <form @submit.prevent="submitFormTags">
              <div class="form-group">
                <label>Title Newspaper</label>
                <input type="text" class="form-control" placeholder="ex: Today" required>
              </div>
              <div class="form-group">
                <label>Description Newspaper</label>
                <textarea class="form-control" placeholder="Description" required/>
              </div>
              <div class="form-group">
                <label>Date Newspaper</label>
                <input type="date" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Thumbnail Newspaper <small class="text-muted">Image file only</small> </label>
                <input type="file" class="form-control" accept="image/*" required>
              </div>
              <div class="form-group">
                <label>File Newspaper <small class="text-muted">PDF file only</small> </label>
                <input type="file" class="form-control" accept="application/pdf" required>
              </div>
              <button class="btn btn-success btn-sm mb-1" style="width: 100%" type="submit"><i class="fas fa-save"/> Save</button>
              <button class="btn btn-outline-dark btn-sm" @click="resetForm" type="button" style="width: 100%"><i class="fas fa-arrow-alt-circle-down"/> Reset Form</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <h5><i class="fas fa-list" /> Data PDF Newspaper</h5>
          </div>
          <div class="card-block">
            <div class="row mb-1">
              <div class="col-lg-12">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <label class="input-group-text"><i class="fa fa-search"></i></label>
                  </span>
                  <input type="text" class="form-control" placeholder="Search Title Newspapaer">
                </div>
              </div>
            </div>

            <span class="text-muted text-center">Show 10 From 6.000</span>
            <ul class="list-view list-group">
              <li v-for="(paper, iPaper) in newspapers" :key="iPaper">
                <div class="card list-view-media">
                  <div class="card-block">
                    <div class="media">
                      <img class="media-object card-list-img mr-3"
                           :src="paper.thumbnail"
                           alt="Generic placeholder image" style="width: 40%; height: 500px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                      <div class="media-body">
                        <div class="col-xs-12">
                          <h6 class="d-inline-block font-weight-bold">{{paper.title}}</h6>
                        </div>
                        <div class="f-13 text-muted m-b-15">
                          <i class="fa fa-user"/> {{paper.creator}} &nbsp;<i class="fa fa-calendar"/> {{paper.date}}
                        </div>
                        <p>{{paper.description}}</p>
                        <div class="m-t-15">
                          <a v-for="(socm, iSocm) in paper.social_media_shares" target="_blank" :href="socm.link" :key="iSocm" type="button" data-toggle="tooltip" :title="paper.title" class="btn btn-mini waves-effect waves-light mr-1" :class="socm.class" :data-original-title="paper.title">
                            <span :class="socm.icon"></span>
                          </a>
                        </div>
                        <button class="btn w-100 btn-outline-danger mt-3 btn-sm"><i class="fa fa-trash" /> Delete</button>
                      </div>
                    </div>
                  </div>
                </div>

                <button class="btn btn-round btn-outline-primary" v-if="iPaper + 1 === newspapers.length" style="width: 100%">Load More</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalConfirmationLabel">Delete Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you delete <span class="font-weight-bold text-danger text-uppercase">{{form.tags_name}}</span> data?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger btn-sm">Yes, Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  name: "pdf",
  data() {
    return {
      form: {
        tags_name: "",
        id: null
      },
      newspapers: [
        {
          id: 1,
          title: "Formula E - Evans prevails in heavyweight bout in Indonesia as title tussle heats up",
          creator: 'Muhammad Suryono',
          date: "05 June 2022",
          description: 'Hi, This is my short intro text. Lorem ipsum is a dummy content sit dollar. You can copy and paste this dummy content from anywhere and to anywhere. Its all free and must be a good to folllow in prectice',
          thumbnail: 'https://i.pinimg.com/736x/6a/a1/45/6aa145b656bd3efc77ac085ae8ee6fbf--journal-news-the-journal.jpg',
          social_media_shares: [
            {
              title: 'facebook',
              icon: 'feather icon-facebook',
              class: 'btn-facebook',
              link: '#'
            },
            {
              title: 'twitter',
              icon: 'feather icon-twitter',
              class: 'btn-twitter',
              link: '#'
            },
            {
              title: 'instagram',
              icon: 'feather icon-instagram',
              class: 'btn-instagram',
              link: '#'
            }
          ]
        },
        {
          id: 2,
          title: "Formula E - Evans prevails in heavyweight bout in Indonesia as title tussle heats up",
          creator: 'Muhammad Suryono',
          date: "05 June 2022",
          description: 'Hi, This is my short intro text. Lorem ipsum is a dummy content sit dollar. You can copy and paste this dummy content from anywhere and to anywhere. Its all free and must be a good to folllow in prectice',
          thumbnail: 'https://i.pinimg.com/originals/c6/09/b0/c609b0d210135fddb69cb373277880db.jpg',
          social_media_shares: [
            {
              title: 'facebook',
              icon: 'feather icon-facebook',
              class: 'btn-facebook',
              link: '#'
            },
            {
              title: 'twitter',
              icon: 'feather icon-twitter',
              class: 'btn-twitter',
              link: '#'
            },
            {
              title: 'instagram',
              icon: 'feather icon-instagram',
              class: 'btn-instagram',
              link: '#'
            }
          ]
        }
      ]
    }
  },
  methods: {
    submitFormTags: async function() {
      console.log(this.form.tags_name)
    },
    tagsEdit: async function(index) {
      let data = this.tags[index]
      this.form.tags_name = data.tags_name
      this.form.id = data.id
    },
    resetForm: async function() {
      this.form = {
        tags_name: "",
        id: null
      }
    },
    deleteConfirmation: async function(index) {
      let data = this.tags[index]
      this.form.tags_name = data.tags_name
      this.form.id = data.id

      $('#modalConfirmation').modal('show')
    }
  }
}
</script>

<style>
  .list-group{
    max-height: 500px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .list-group::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .list-group {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
</style>
