<template>
  <div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h5><i class="fas fa-edit" /> Form Tags</h5>
          </div>
          <div class="card-block">
            <Alert v-if="errorMessage !== null" :message="errorMessage" :classes="classAlert" />
            <form @submit.prevent="submitFormTags">
              <div class="form-group">
                <label>Tags Name</label>
                <input type="text" class="form-control" v-model="form.tags_name" placeholder="ex: Sport" required>
              </div>
              <button class="btn btn-success btn-sm mb-1" style="width: 100%" type="submit"><i class="fas fa-save"/> Save</button>
              <button class="btn btn-outline-dark btn-sm" @click="resetForm" type="button" style="width: 100%"><i class="fas fa-arrow-alt-circle-down"/> Reset Form</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <h5><i class="fas fa-list" /> Data Tags</h5>
          </div>
          <div class="card-block">
            <table class="table table-striped table-hover table-responsive-lg">
              <thead class="thead-dark">
              <th>No</th>
              <th>Tags Name</th>
              <th>Last Update</th>
              <th width="20%">Action</th>
              </thead>
              <tbody>
              <tr v-for="(tag, iTags) in tags" :key="iTags">
                <td>{{iTags + 1}}</td>
                <td>{{tag.tags_name}}</td>
                <td>{{tag.last_update}}</td>
                <td>
                  <button class="btn btn-sm btn-outline-primary" @click="tagsEdit(iTags)"><i class="fas fa-edit"/> Edit </button>
                  <button class="btn btn-sm btn-outline-danger" @click="deleteConfirmation(iTags)"><i class="fas fa-trash"/> Delete </button>
                </td>
              </tr>
              <tr v-if="tags.length === 0"><td colspan="4" class="text-center"><i class="fa fa-tags"/> No Data </td></tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item active"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalConfirmationLabel">Delete Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you delete <span class="font-weight-bold text-danger text-uppercase">{{form.tags_name}}</span> data?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger btn-sm" @click="deleteTag">Yes, Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Alert from "@/components/Alert";
export default {
  middleware: 'auth',
  name: "tags",
  components: {
    Alert
  },
  data() {
    return {
      form: {
        tags_name: "",
        id: null
      },
      tags: [],
      errorMessage: null,
      classAlert: ""
    }
  },
  methods: {
    submitFormTags: async function() {
      try {
        if (this.form.id === null) {
          await this.$api.post('tags', {name: this.form.tags_name})
        } else {
          await this.$api.put('tags/' + this.form.id, {name: this.form.tags_name})
        }

        await this.resetForm()
        await this.getAllTags()
      } catch (e) {
        this.errorMessage = e.response.data.message
        this.classAlert = "alert-danger"
        console.log(e.response.data)
      }
    },
    tagsEdit: async function(index) {
      let data = this.tags[index]
      this.form.tags_name = data.tags_name
      this.form.id = data.id
    },
    resetForm: async function() {
      this.form = {
        tags_name: "",
        id: null
      }

      this.errorMessage = null
      this.classAlert = ""
    },
    deleteConfirmation: async function(index) {
      let data = this.tags[index]
      this.form.tags_name = data.tags_name
      this.form.id = data.id

      $('#modalConfirmation').modal('show')
    },
    getAllTags: async function() {
      try {
        let req = await this.$api.get('tags')
        this.tags = req.data.data.data
      } catch (e) {

      }
    },
    deleteTag: async function() {
      try {
        await this.$api.delete('tags/' + this.form.id)
        await this.resetForm()
        await this.getAllTags()
        $('#modalConfirmation').modal('hide')
      } catch (e) {
        this.errorMessage = e.response.data.message
        this.classAlert = "alert-danger"
      }
    }
  },
  async mounted() {
    await this.getAllTags()
  }
}
</script>

<style scoped>

</style>
