<template>
  <div>

    <div class="row">
      <div class="col-xl-3 col-md-6">
        <WidgetColor
          icon-widget="fa-user"
          icon-color="text-c-green"
          card-value="2000"
          card-color="card-green"
          widget-description="Total Visits This Month"
          card-title="Visitor Web" />
      </div>

      <div class="col-xl-3 col-md-6">
        <WidgetColor
          icon-widget="fa-users"
          icon-color="text-c-blue"
          card-value="0"
          card-color="card-blue"
          widget-description="Total Subscribers This Month"
          card-title="Subscriber" />
      </div>

      <div class="col-xl-3 col-md-6">
        <WidgetColor
          icon-widget="fa-newspaper"
          icon-color="text-c-yellow"
          card-value="124"
          card-color="card-yellow"
          widget-description="Total News from all categories"
          card-title="News" />
      </div>

      <div class="col-xl-3 col-md-6">
        <WidgetColor
          icon-widget="fa-list"
          icon-color="text-c-red"
          card-value="8"
          card-color="card-red"
          widget-description="Total News Category"
          card-title="Category" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <h5><i class="fas fa-newspaper"/> What’s New</h5>

            <div class="card-header-right">
              <i class="feather icon-refresh-cw reload-card"></i>
            </div>
          </div>
          <div class="card-block">
            <img v-if="whatNew.length === 0" src="/assets/png/nodata.png" class="w-100">
            <ul class="list-view list-group">
              <li v-for="(news, iNews) in whatNew.data" :key="iNews">
                <div class="card list-view-media">
                  <div class="card-block">
                    <div class="media">
                      <div class="media-body">
                        <div class="col-xs-12">
                          <h6 class="d-inline-block">{{news.title}}</h6>
                        </div>
                        <div class="f-13 text-muted m-b-15">
                          <i class="fa fa-user"/> {{news.updated_by}} &nbsp;&nbsp;
                          <i class="fa fa-clock bg-white"/> {{news.last_update}} &nbsp;&nbsp;
                          <label v-for="(tag, iTag) in news.tags" :key="iTag" class="label label-info">{{tag.tag_name}}</label>
                        </div>
                        <img alt="image" :src="news.image" style="width: 100%">
                        <p class="mt-3" v-html="$substring(news.content)"></p>
                        <div class="m-t-15">
                          <a href="#!" target="_self" type="button"
                                  class="btn btn-twitter btn-mini waves-effect waves-light"
                                  style="float: right">
                            <i class="fa fa-newspaper"/> Read More
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button @click="loadMore" class="btn btn-round btn-outline-primary" v-if="iNews + 1 === whatNew.length" style="width: 100%">Load More</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h5><i class="fas fa-users"/> Subscribers</h5>
          </div>
          <div class="card-block">

            <img src="/assets/png/nodata.png" class="w-100">
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            <h5><i class="fas fa-comments"/> Comment Approval Request</h5>
          </div>
          <div class="card-block">

            <img src="/assets/png/nodata.png" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderContent from "@/components/layouts/HeaderContent";
export default {
  middleware: 'auth',
  name: 'IndexPage',
  components: {HeaderContent},
  data() {
    return {
      whatNew: []
    }
  },
  async mounted() {
    await this.getAllPublishNews()
  },
  methods: {
    getAllPublishNews: async function() {
      try {
        let req = await this.$api.get('news/content/publish')
        this.whatNew = req.data.data
      } catch (e) {

      }
    },
    loadMore: function () {
      let newContent = []
      this.whatNew = this.whatNew.concat(newContent)
    },
  }

}
</script>
<style>
  .list-group{
    max-height: 800px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .list-group::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .list-group {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
</style>
