<template>
  <!-- active pcoded-trigger -->
  <nav class="pcoded-navbar">
    <div class="nav-list">
      <div class="pcoded-inner-navbar main-menu">
        <div v-for="(menu, iMenu) in menus" :key="iMenu">
          <div class="pcoded-navigation-label">{{menu.headerMenu}}</div>
          <ul class="pcoded-item pcoded-left-item">
            <li v-for="(menuHeader, iMenuHeader) in menu.menus"
                :key="iMenuHeader"
                :class="menuHeader.hasMenu ? 'pcoded-hasmenu':''">

              <NuxtLink v-if="!menuHeader.hasMenu" :to="menuHeader.path" class="waves-effect waves-dark">
                <span class="pcoded-micon">
                  <i :class="menuHeader.icon"></i>
                </span>
                <span class="pcoded-mtext">{{menuHeader.label}}</span>
              </NuxtLink>

              <a v-if="menuHeader.hasMenu" href="javascript:void(0)" class="waves-effect waves-dark">
                <span class="pcoded-micon">
                  <i :class="menuHeader.icon"></i>
                </span>
                <span class="pcoded-mtext">{{menuHeader.label}}</span>
              </a>

              <ul v-if="menuHeader.hasMenu" class="pcoded-submenu">
                <li v-for="(subMenu1, iSubMenu1) in menuHeader.subMenus" :key="iSubMenu1" class="">
                  <NuxtLink :to="subMenu1.path" class="waves-effect waves-dark">
                    <span class="pcoded-mtext">{{subMenu1.label}}</span>
                  </NuxtLink>
                </li>
              </ul>

            </li>
          </ul>

        </div>

      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Sidebar",
  data() {
    return {
      menus: [
        {
          headerMenu: "Home",
          menus: [
            {
              label: "Dashboard",
              hasMenu: false,
              icon: 'feather icon-menu',
              path: '/',
              subMenus: []
            },
          ]
        },
        {
          headerMenu: "Master News",
          menus: [
            {
              label: "Category",
              hasMenu: false,
              icon: 'feather icon-inbox',
              path: '/news/category',
              subMenus: []
            },
            {
              label: "Tags",
              hasMenu: false,
              icon: 'feather icon-at-sign',
              path: '/news/tags',
              subMenus: []
            },
            {
              label: "News",
              hasMenu: false,
              icon: 'feather icon-grid',
              path: '/news/headline',
              subMenus: []
            },
            {
              label: "PDF News",
              hasMenu: false,
              icon: 'feather icon-file-text',
              path: '/news/pdf',
              subMenus: []
            }
          ]
        },
        {
          headerMenu: "Customers",
          menus: [
            {
              label: "Subscribers",
              hasMenu: false,
              icon: 'feather icon-user-check',
              path: '/news/subscribe',
              subMenus: []
            },
            {
              label: "Customers",
              hasMenu: false,
              icon: 'fa fa-users',
              path: '/news/subscribe',
              subMenus: []
            },
          ]
        },
        {
          headerMenu: "Account",
          menus: [
            {
              label: "User Accounts",
              hasMenu: false,
              icon: 'feather icon-users',
              path: '/news/accounts',
              subMenus: []
            },
            {
              label: "Password",
              hasMenu: false,
              icon: 'feather icon-command',
              path: '/news/change-password',
              subMenus: []
            },
          ]
        }
      ]
    }
  },
  mounted() {
    console.log(this.$route.fullPath)
  }
}
</script>

<style scoped>

</style>
